<div>
    <h1>Locaciones</h1>
</div>
<div class="p-grid"> 
    <div class="p-lg-4"> 
        <p-card header="" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/inst1.jpg">
            </ng-template>
        </p-card>
    </div>
    <div class="p-lg-4">
        <p-card header="" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/inst2.jpg">
            </ng-template>
        </p-card>
    </div>
    <div class="p-lg-4">
        <p-card header="" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/inst3.jpg">
            </ng-template>
        </p-card>
    </div>
</div>
