<div>
    <h1>Blog</h1>
</div>
<div class="p-grid"> 
    <div class="p-lg-6"> 
        <p-card header="Enfermedad de los pulpejos y dedos" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/blog1.jpg">
            </ng-template>
            <p>La almohadilla plantar (pulpejo) de los perros es una zona de tejido especializada. 
                Su gruesa epidermis la protege contra traumatismos mecánicos y los grandes depósitos de grasa la proporcionan elasticidad para absorber los golpes. 
                Una abundante inervación proporciona una importante función sensorial. 
                Numerosas glándulas sudoríparas producen una secreción que puede mejorar la tracción durante la carrera y las escaladas, y también son muy importantes en la demarcación odorífera (marcaje del territorio). 
                Cómo curiosidad os diré que los perros excitados pueden sudar a través de sus almohadillas plantares.</p>
        </p-card>
    </div>
    <div class="p-lg-6">
        <p-card header="Halitosis" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/atencion.jpg">
            </ng-template>
            <br>
            <p>El diccionario Webster define el olor como “aquella característica de una sustancia que la hace perceptible al sentido del olfato, sea agradable o desagradable”. 
                Desde el punto de vista clínico, debería ampliarse la definición de olor para incluir si éste es normal o anormal. 
                Aunque muchas veces los clínicos no se den cuenta, el uso del olfato es una parte compleja del proceso de exploración física. Dependiendo del proceso patológico, también puede estar implicado en los procesos de diagnóstico, tratamiento y control. 
                La tarea del clínico es determinar si el olor corporal en cuestión es un signo de enfermedad o si se encuentra dentro de lo normal en el animal en cuestión.</p>
        </p-card>
    </div>
</div>
