<div class="center col-lg-12 col-md-6 col-sm-12">
    <h1>Medical Center Veterinario</h1>
</div>

<div class="p-grid"> 
    <div class="p-lg-4"> 
        <p-card header="Calidad de Servicio" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/veterinario-1.png">
            </ng-template>
            <p>Somos Profesionales que brinda toda su experiencia con mucho amor y vocación. 
                Con el fin de que cada vez que salvemos una vida tengamos la satisfacción del deber cumplido.</p>
        </p-card>
    </div>
    <div class="p-lg-4">
        <p-card header="Hospitalización" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/atencion.jpg">
            </ng-template>
            <br>
            <p>Manejamos hospitalización de calidad, buscando el confort de nuestros pacientes como 
                prioridad para una mejor evolución tanto física como mental</p>
        </p-card>
    </div>
    <div class="p-lg-4">
        <p-card header="Medicamentos" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/medicina.jpg">
            </ng-template>
            <p>Manejamos medicamentos de calidad, buscando que nuestros clientes puedan adquirir 
                todo el tratamiento que necesite cada paciente.</p>
        </p-card>
    </div>
</div>


<div class="col-lg-12">
    <p-fieldset legend="SERVICIO LAS 24 HORAS">
            <img class="img" src="assets/img/atencion.jpg">
            Disponemos de un servicio de hospitalización supervisado por veterinarios para aquellos pacientes que requieran unos cuidados y atenciones especiales.
            Nuestros pacientes reciben la medicación y los cuidados necesarios para su pronta recuperación, siempre en contacto con sus propietarios informándoles de los pasos y las actuaciones a seguir en cada momento.
            Cuidamos de sus animales como si fueran los nuestros !
    </p-fieldset>
</div>