<div>
    <h1>Servicios</h1>
</div>
<div class="col-lg-12">
    <p-fieldset legend="SERVICIO">
            <img class="img" src="assets/img/radios.jpg">
            <ul>
                <li>
                    Consulta externa especializada
                </li>
                <li>
                    Cirugía
                </li>
                <li>
                    Hospitalización
                </li>
                <li>
                    Traumatología
                </li>
                <li>
                    Laboratorio clínico
                </li>
                <li>
                    Electrocardiografía
                </li>
                <li>
                    Terapia respiratoria
                </li>
                <li>
                    Inseminación artificial
                </li>
            </ul>
    </p-fieldset>
</div>